/* styles.css */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333;
  font-weight: 700;
}

p {
  color: #555;
  line-height: 1.6;
  font-weight: 400;
}

header {
  background-color: #007bff;
  color: #fff;
}

header h1 {
  margin: 0;
}

nav a {
  /* color: #fff; */
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #007bff;
  /* color: #fff; */
}

/* Button Animations */
button {
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

/* Image hover effects */
img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }

  .product-grid div {
    width: 100%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}